label.app-control, input.app-control, button.app-control {
    font-family: Montserrat, Montserrat, monospace;
    height: 35px;
    border: none;
}

div.app-header {
    margin-bottom: 3cm;
}

button.login-control {
    width: 148px;
    margin-top: 15px;
}

b.app-name {
    font-family: Montserrat, Montserrat, monospace;
}

img.app-logo {
    float: left;
    margin-right: 10px;
}

div.login {
    display: block;
    text-align: center;
}

div.login-space {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 200px;
}