button.app-control {
    height: 35px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
}

input.input-control {
    height: 35px;
    width: 163px;
    border: 1px solid gainsboro;
}

div.app-header {
    margin-bottom: 2cm;
}

button.login-control {
    width: 168px;
    margin-top: 15px;
}

div.label-control {
    margin-top: 15px;
}

div.app-div {
    margin-left: 755px;
}

button.app-button {
    width: 120px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
}

img.app-logo {
    float: left;
    margin-right: 10px;
}

div.login {
    display: block;
    text-align: center;
}

div.login-space {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 200px;
}